# MongoDB connection parameters
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=example
MONGO_URL=mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}

# Port for the frontend application.
FRONTEND_PORT=5173

# Port for the backend. To fetch electricity prices for frontend application.
BACKEND_PORT=3001

# Public base URL for the orchestrator application.
PUBLIC_HOST=http://localhost
PUBLIC_PORT=3000

# Orchestrator URL for the frontend (can be set different than PUBLIC one in case of proxy server)
ORCHESTRATOR_HOST=http://localhost
ORCHESTRATOR_PORT=3000

# Whether to use the internal host for the orchestrator URL when sending deployments to supervisors.
# Should be true when using Docker containers for the orchestrator and the supervisors, and false otherwise.
USE_INTERNAL_HOST=true

MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_ENABLE_ADMIN=false
MONGO_EXPRESS_BASICAUTH=false
MONGO_EXPRESS_USERNAME=
MONGO_EXPRESS_PASSWORD=
MONGO_EXPRESS_BASEURL=/

# Path to the folder where the initial configuration files are stored as seen by the orchestrator.
WASMIOT_INIT_FOLDER=/init

# Whether to clear the supervisor logs at startup.
WASMIOT_CLEAR_LOGS=true

# Error tracing. Leave empty for no tracing.
#SENTRY_DSN=

WASMIOT_ORCHESTRATOR_URL=http://orchestrator:${PUBLIC_PORT}
WASMIOT_LOGGING_ENDPOINT=http://orchestrator:${PUBLIC_PORT}/device/logs

# Network interface and base IP address for physical connection.
# The interface of the host i.e., _not_ the Docker container's (found for
# example with command 'ip a').
NETWORK_INTERFACE=eth0
# Assuming the mask is /24 i.e., 255.255.255.0, the first three octets of the
# host-machine's IP address (see usage in compose files).
NETWORK_IP_BASE=10.0.0

# Interval of 3 minutes in milliseconds for checking the device status.
DEVICE_CHECK_INTERVAL=180000

# Interval of 5 seconds in milliseconds for moving the animations.
ANUMATION_MOVING_TIME=5000
