# Port for the frontend application.
FRONTEND_PORT=5173

# Whether to use the internal host for the orchestrator URL when sending deployments to supervisors.
# Should be true when using Docker containers for the orchestrator and the supervisors, and false otherwise.
USE_INTERNAL_HOST=true

# Interval of 5 seconds in milliseconds for moving the animations.
ANIMATION_MOVING_TIME=5000